body {
    width: 1280px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border: 2px solid black;
}

.cart-button {
    border-radius: 10px;
}

.goods-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.goods-item {
    display: flex;
    width: 300px;
    border: 2px solid gray;
    flex-direction: column;
    align-items: center;
}

.goods-img {
    margin: 30px 0 0 0;
}

.goods-title {
    margin: 0;
}

.goods-price {
    margin: 0;
}